/* min height of a carousel*/
@media (max-width: 1120px) {
    .w-100 { /* Only present on slide bg images */
        height: 450px;
        object-fit: cover;        
    }

    .carousel__slide-box {
        top: calc(68px + 4vh);
        left: 10vw;
    
        padding-bottom: 30px;
    
        width: calc(20vw + 300px);
        min-width: 200px;
        max-width: 800px;     
    }

    .carousel__slide-header {
        font-size: 1.9rem;
    }
    
    .carousel__slide-header.shown-detail {
        font-size: 1.8rem;
    }
}

/* research section */
@media (max-width: 1000px) {
    .body,
    .carousel,
    .carousel__slide,
    .carousel__slide-list {
        max-width: 100vw;
        min-width: none;
        background-color: var(--blue);
    }
    .research-section img {
        display: none;
    }
    .research-text {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .research-text .line-sep {
        margin: 15px 0;
    }
    .research-section button {
        margin-left: auto;
        margin-right: auto;
    }
    .research-section button:hover {
        background-color: var(--yellow-hover);
        border-color: var(--yellow-hover);
    }
    .research-article {
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .about-div img {
        display: none;
    }
    .about-article {
        margin: 0 1vw;
    }
    .about-text {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        text-align: left;
    }
    .about-text .line-sep {
        margin-right: auto;
        margin-left: 0;
    }
    .about-div button {
        margin-left: auto;
        margin-right: auto;
    }
    .about-div button:hover {
        background-color: var(--yellow-hover);
        border-color: var(--yellow-hover);
    }

    .text-section {
        background: none;
        background-color: var(--blue);
    }

    .about-text {
        color: white;
    }

    .spacer {
        display: none;
    }
}
