/* phone filters */
@media (max-width: 726px) {
    .carousel__filter-button:hover .carousel__filter-button-detail {
        max-width: 0px;
        padding-left: 3px;
        visibility: hidden;
    }
    
    .carousel__filter-button.active-filter .carousel__filter-button-detail {
        max-width: 0px;
        padding: 0;
        visibility: hidden;
        padding-left: 3px;
    }

    .carousel__filter-label {
        display: block;
    }

    .carousel__filter-button:hover {
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
    }

    .carousel__filter-button.active-filter {
        background-color: var(--yellow);
        cursor: pointer;
    }
}

/*phone carousel*/
@media (max-width: 726px) {
    .carousel-control-next, .carousel-control-prev {
        display: none;
    }

    .carousel__slide-box {
        position: relative;
    }

    .carousel__slide-author-section {
        position: relative;
    }
}

@media (max-width: 1040px) {
    .carousel__slide-box {
        position: relative;
        top: 0;
        left: 0;
        overflow: visible;

        width: 90vw;
        height: auto;
        
        margin-bottom: 20px;
        margin-left: 5vw;
        margin-right: 5vw;

        max-width: 100vw; 
        
        border: 0px; 
        z-index: 10;
        transition: transform 0.2s height 0.5s;    
    }

    .carousel__slide-author-section {
        z-index: 20;
        position: relative;
        color: white;
        transform: translate(0%, 0%);    
    }

    p.carousel__slide-info {
        height: fit-content;
        overflow-y: visible;
    
        scrollbar-color: var(--yellow) rgb(0,0,0,0);
        scrollbar-width: thin;
        scrollbar-gutter: initial;
    }
    
    .carousel-control-next, .carousel-control-prev {
        display: none;
    }

    .carousel__slide-author-section {
        z-index: 20;
        position: relative;
        top: 0;
        left: 0;
        color: white;
        transform: translate(0%, 0%);  
        margin: auto;  
    }

    .carousel__slide-author-section .box {
        opacity: 1;
        border-radius: 8px;
        margin: 0;
        padding: 8px;
        /* transform: translateX(-100%); */
        pointer-events: none;
    }

    .carousel__slide-author-section .icon {
        position: absolute;
        /* padding: 10px 17px; */
        top: 0%;
        left: 0%;
        transition: 0.2s;
        width: 30px;
        height: 30px;
    }
}

/* min height of a carousel*/
@media (max-width: 1120px) {
    .w-100 { /* Only present on slide bg images */
        height: 450px;
        object-fit: cover;        
    }

    /* .carousel__slide-box {
        top: calc(68px + 4vh);
        left: 10vw;
    
        padding-bottom: 30px;
    
        width: calc(20vw + 300px);
        min-width: 200px;
        max-width: 800px;     
    } */

    .carousel__slide-header {
        font-size: 1.9rem;
    }
    
    .carousel__slide-header.shown-detail {
        font-size: 1.8rem;
    }
}

/* research section */
@media (max-width: 1000px) {
    .body,
    .carousel,
    .carousel__slide,
    .carousel__slide-list {
        max-width: 100vw;
        min-width: none;
        background-color: var(--blue);
    }
    .research-section img {
        display: none;
    }
    .research-text {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .research-text .line-sep {
        margin: 15px 0;
    }
    .research-section button {
        margin-left: auto;
        margin-right: auto;
    }
    .research-section button:hover {
        background-color: var(--yellow-hover);
        border-color: var(--yellow-hover);
    }
    .research-article {
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .about-div img {
        display: none;
    }
    .about-article {
        margin: 0 1vw;
    }
    .about-text {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        text-align: left;
    }
    .about-text .line-sep {
        margin-right: auto;
        margin-left: 0;
    }
    .about-div button {
        margin-left: auto;
        margin-right: auto;
    }
    .about-div button:hover {
        background-color: var(--yellow-hover);
        border-color: var(--yellow-hover);
    }

    .text-section {
        background: none;
        background-color: var(--blue);
    }

    .about-text {
        color: white;
    }

    .spacer {
        display: none;
    }
}
